.form_area {
  background-color: #f0f0f0;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 20px;
  margin: 0 auto;
  /* height: 150px; */
  border-radius: 25px;
}

.form_area .field-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form_area .aspect-radio-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form_area .field-group label,
.form_area .aspect-radio-form-container label {
  font-family: "Jost* 500", sans-serif;
  font-size: 25px;
  text-align: center;
}
.form_area .field-group p,
.form_area .aspect-radio-form-container p {
  font-family: "Jost* 300", sans-serif;
  color: #6f6f6f;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.form_area .field-group input,
.form_area .aspect-radio-form-container input {
  background-color: #ffffff;
  border: 0;
  border-radius: 1px;
  height: 30px;
  color: #000;
  font-family: "Jost* 600 Semi", sans-serif;
  font-size: 25px;
  text-align: center;
}
.form_area .field-group input {
  width: 150px;
}

.form_area .aspect-radio-form-container input {
  width: 80px;
  margin: 0 10px;
}

.form_area .aspect-radio-form-container span {
  font-size: 25px;
  font-family: "Jost* 600 Semi", sans-serif;
}
